.button {
    box-sizing: border-box;
    margin-right: .5rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-family: inherit;
    font-size: 1rem;
    border-radius: $border-radius;
    cursor: pointer;
    user-select: none;
    transition: $transition;
    outline: none;

    &:last-child {
        margin-right: 0;
    }

    &_icon {
        $button-size: 2rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: $button-size;
        height: $button-size;
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: $border-radius;

        .button__icon {
            $icon-size: .875rem;
            width: $icon-size;
            height: $icon-size;
            transition: $transition;
        }
    }

    &_primary {
        color: $alt-txt-color;
        background: $primary-color;
        border: none;
        
        .button__icon {
            fill: $alt-txt-color;
        }

        &:hover {
            background: darken($primary-color, 10%);
        }

        &:active {
            background: darken($primary-color, 15%);
        }

        &:focus {
            box-shadow: $primary-boxshadow;
        }
    }

    &_secondary {
        color: var(--txt-color);
        background: var(--secondary-color);
        border: none;
        
        .button__icon {
            fill: var(--txt-color);
        }

        &:hover {
            background: var(--secondary-hover-color);
        }

        &:active {
            background: var(--secondary-active-color);
        }

        &:focus {
            box-shadow: var(--secondary-boxshadow);
        }
    }

    &_outline-secondary {
        color: var(--secondary-color);
        background: none;
        border: 1px solid var(--secondary-color);

        .button__icon {
            fill: var(--secondary-color);
        }

        &:hover,
        &:active {
            color: var(--txt-color);
            background: var(--secondary-color);

            .button__icon {
                fill: var(--txt-color);
            }
        }

        &:focus {
            box-shadow: var(--secondary-boxshadow);
        }
    }

    &_outline-success {
        color: $success-color;
        background: none;
        border: 1px solid $success-color;
        
        .button__icon {
            fill: $success-color;
        }

        &:hover,
        &:active {
            color: $alt-txt-color;
            background: $success-color;
            
            .button__icon {
                fill: $alt-txt-color;
            }
        }

        &:focus {
            box-shadow: $success-boxshadow;
        }
    }

    &_outline-danger {
        color: var(--secondary-color);
        background: none;
        border: 1px solid var(--secondary-color);

        .button__icon {
            fill: var(--secondary-color);
        }

        &:hover,
        &:active {
            color: $alt-txt-color;
            background: $danger-color;
            border-color: $danger-color;
            
            .button__icon {
                fill: $alt-txt-color;
            }
        }

        &:focus {
            box-shadow: $danger-boxshadow;
        }
    }
}