$primary-color: #007bff;
$primary-color-hover: #0069d9;
$primary-color-darker: #0062cc;
$primary-color-dark: #005cbf;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$alternative-text-color: #fff;

.button {
    box-sizing: border-box;
    margin-right: .5rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-family: inherit;
    font-size: 1rem;
    border-radius: $border-radius;
    cursor: pointer;
    user-select: none;
    transition: $transition;
    outline: none;

    &:last-child {
        margin-right: 0;
    }

    &_icon {
        $button-size: 2rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: $button-size;
        height: $button-size;
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;

        .button__icon {
            $icon-size: .875rem;
            width: $icon-size;
            height: $icon-size;
            transition: $transition;
        }
    }

    &_primary {
        color: $alternative-text-color;
        background: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            background: $primary-color-hover;
            border-color: $primary-color-darker;
        }

        &:active {
            background: $primary-color-darker;
            border-color: $primary-color-dark;
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
        }
    }

    &_outline-secondary {
        color: $secondary-color;
        background: none;
        border: 1px solid $secondary-color;

        .button__icon {
            fill: $secondary-color;
        }

        &:hover,
        &:active {
            color: $alternative-text-color;
            background: $secondary-color;

            .button__icon {
                fill: $alternative-text-color;
            }
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
        }
    }

    &_outline-success {
        color: $success-color;
        background: none;
        border: 1px solid $success-color;
        
        .button__icon {
            fill: $success-color;
        }

        &:hover,
        &:active {
            color: $alternative-text-color;
            background: $success-color;
            
            .button__icon {
                fill: $alternative-text-color;
            }
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
        }
    }

    &_outline-danger {
        color: $danger-color;
        background: none;
        border: 1px solid $danger-color;

        .button__icon {
            fill: $danger-color;
        }

        &:hover,
        &:active {
            color: $alternative-text-color;
            background: $danger-color;
            
            .button__icon {
                fill: $alternative-text-color;
            }
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
        }
    }
}