.list {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75em 1.25em;
        border-bottom: 1px solid rgba(0,0,0,.125);
        cursor: default;
        transition: all .15s;

        &:hover {
            background: #f8f9fa;
        }
    }
}