@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap&subset=cyrillic');

$media-tablet: 1024px;

$font-family-primary: 'Open Sans', sans-serif;
$page-padding: 0 1.25rem;
$transition: all .15s;
$border-radius: .25rem;

body {
    margin: 0;
    padding: 0;
    font-family: $font-family-primary;
}

h1 {
    margin: 0;
    line-height: 1.2;
    font-size: 2.5rem;
    font-weight: 300;
}

.wrapper {
    min-height: 100vh;
    background: var(--page-bg);
    color: var(--txt-color);
    transition: $transition;
}

.page {
    box-sizing: border-box;
    width: 85%;
    margin: 0 auto;
    padding: 0 3rem;

    @media (max-width: $media-tablet) {
        width: 100%;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 1.25rem;
    }
}

@import "./scss/themes.scss";
@import "./components/Button/button.scss";
@import "./components/List/list.scss";
@import "./components/Item/item.scss";
@import "./components/CreateItem/createItem.scss";

.input-text {
    box-sizing: border-box;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-family: inherit;
    font-size: 1rem;
    color: var(--txt-color);
    background-color: var(--block-bg);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;
    transition: $transition;
}

.input-text:focus {
    border-color: $primary-color;
    box-shadow: $primary-boxshadow;
    outline: none;
}

@media (max-width: $media-tablet) {
    html {
        font-size: 14px;
    }
}